<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events</title>
</head>
<body>
    <form action="/event" method="post">
            
        <div class="div1">
            <h1> ADD EVENT</h1>
            <p>trip_name<input type="text" name="tn" id="tn"></p>
            <p>date<input type="text" name="date" id="date"></p> 
            <p>event:<input type="text" name="eve" id="eve"></p> 
            <input type="submit" value="ADD Event">
    </div>
    </form>
</body>
</html>