<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQUIREMENT</title>
</head>
<body>
    <form action="/req" method="post">
            
        <div class="div1">
            <h1> ADD REQUIREMENTS</h1>
            <p>trip_name<input type="text" name="tn" id="tn"></p>
            <p>requirements<input type="text" name="req" id="text"></p> 
           
            <input type="submit" value="ADD REQUIREMENT">
    </div>
    </form>
</body>
</html>